body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e0e0e0;
}

.main-nav {
    background-color: #333;
    padding: 10px 0;
    position: sticky; /* Hace que el menú se quede fijo al hacer scroll */
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
}

.nav-list {
    list-style: none; /* Quita los puntos de la lista */
    margin: 0;
    padding: 0;
    display: flex; /* Alinea los elementos de la lista horizontalmente */
    justify-content: center; /* Centra los elementos del menú */
}

.nav-item {
    margin: 0 15px; /* Espacio entre los elementos del menú */
}

.nav-item a {
    color: white; /* Color del texto del enlace */
    text-decoration: none; /* Quita el subrayado del enlace */
    padding: 8px 15px;
    display: block; /* Hace que el área del enlace sea todo el "padding" */
    transition: background-color 0.3s ease; /* Suaviza la transición del color de fondo */
    border-radius: 5px; /* Bordes redondeados */
}

.nav-item a:hover {
    background-color: #575757; /* Color de fondo al pasar el mouse */
}

.container{
    background-image: url('https://res.cloudinary.com/ddl6vwk0i/image/upload/v1749351367/banner_mruahn.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;/*centrando el elemento div en el ancho*/
    align-items: center;/*centrando el elemento vertical*/
    height: 80vh;
}

.container div h1{
    color: #fff;
    font-size: 3rem;
    text-align: center;
    font-family: "Knewave", system-ui;
}

.container div p{
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

.container div img{
     width: 10%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}


.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 5px;/*espacio en la grid*/
    max-width: 1200px;
    margin: 1rem auto;
}
.gallery2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    max-width: 1200px;
    margin: 1rem auto;
}
.gallery3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    max-width: 1200px;
    margin: 1rem auto;
}

.card{
    background-color: white;
    border-radius: 8px;
    border: 1px solid red;
    margin: 1rem;
}

.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.card h2{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

.card p{
    padding: 0 1rem 1rem 1rem;
    font-size: 1rem;
    text-align: center;
}

#descuentos h1,#ofertas h1,#eventos h1{
    font-size: 2rem;
    text-align: center;
    font-family: "Knewave", system-ui;
    text-shadow: 0 0 0.2em rgb(9, 111, 151)
}
footer p{
    font-size: 1rem;
    text-align: center;
    font-family: "Knewave", system-ui;
    text-shadow: 0 0 0.2em rgb(9, 111, 151);
    padding: 0 1rem 1rem 1rem;
}

a{
     font-size: 1rem;
    text-align: center;
    font-family: "Knewave", system-ui;
    text-shadow: 0 0 0.2em rgb(9, 111, 151);
    padding: 0 1rem 1rem 1rem;
}
